:host ::ng-deep{
  & .p-toolbar{
    background-color: #000066;
  };

  & .p-toolbar-group-start{
    & .p-button {
      padding: 10px;
      margin-left: 10px;
      background-color: white;
      border-color: white;
      color: black;
    }
  }

  & .p-toolbar-group-end{
    & .p-button {
      padding: 5px;
      margin-left: 10px;
      background-color: white;
      border-color: white;
      color: black;
    }
  }
}
