<p-toolbar>
  <div class="p-toolbar-group-start">
    <p-button *ngFor="let button of buttontitle" (click)="buttonAction(button)">
      {{ button.label }}
    </p-button>
  </div>
</p-toolbar>
<app-sport-table></app-sport-table>
