<p-table [columns]="cols" [value]="data()" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of cols">
          {{ col.header }}
        </th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-columns>
    <tr>
        <td>{{ columns.balltype }}</td>
        <td>{{ columns.date }}</td>
        <td>{{ columns.time }}</td>
        <td>{{ columns.league }}</td>
        <td>{{ columns.team}}</td>
        <td>{{ columns.score }}</td>
    </tr>
</ng-template>
</p-table>
